/*main style*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-defult);
  background-color: var(--color-light);
}
/*root style*/
:root {
  --color-light: #fff;
  --color-light-gray: #eee;
  --color-gary: #f5f5f5;
  --defult-color: #212529;
  --color-primary: #ce1212;
  --color-secondary: #37373f;
  --color-tertiary: #7f7f90;
  --color-selection: #e65e5e;
  --color-hover: #ec1515;
  --font-defult: "Open Sans", sans-serif;
  --font-primary: "Amatic SC", sans-serif;
  --font-secondary: "Inter", sans-serif;
}

/*dark mode style*/
.dark-mode {
  --color-light: #171717;
  --color-light-gray: #252525;
  --color-gary: #0d0d0d;
  --defult-color: #fff;
  --color-primary: #c17e1f;
  --color-hover: #de9125;
  --color-selection: #de9125;
  --color-secondary: #fff;
  --color-tertiary: #9f9f9f;
}
.sun {
  opacity: 0;
}
.dark {
  opacity: 0;
}
#darkMode {
  opacity: 0;
}

/*Selection*/
::selection {
  background-color: var(--color-selection);
  color: var(--color-light);
}

/*global style*/
a {
  color: inherit;
  text-decoration: 0;
}
ul {
  list-style: none;
  font-size: 1rem;
  font-weight: 600;
}

.container {
  width: 90%;
  padding: 25px 5px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  color: var(--defult-color);
  font-weight: 700;
  font-size: 30px;
}

img {
  width: 100%;
  display: block;
}

/*navbar style*/
.nav {
  width: 100%;
  background-color: var(--color-light);
  color: var(--defult-color);
  position: fixed;
  box-shadow: 0px 0px 14px 0px #0000001b;
  z-index: 100;
}
.nav .container {
  margin: 0 auto;
  justify-content: space-between;
}
.h1-dot {
  color: var(--color-primary);
}

.nav ul {
  display: flex;
}
.nav ul li {
  padding: 0 20px;
  color: var(--color-tertiary);
  transition: all 0.3s ease;
}
.nav ul li:hover {
  color: var(--defult-color);
}
.nav ul li.active {
  color: inherit;
}
.nav ul li a {
  position: relative;
}
.nav ul li.active a::before {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 100%;
  height: 3px;
  background-color: var(--color-primary);
}
.nav ul li a::before {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 0%;
  height: 3px;
  background-color: var(--color-primary);
  transition: all ease 0.3s;
}
.nav ul li:hover a::before {
  width: 100%;
}
.dark-icon {
  position: relative;
}
.dark-icon i {
  cursor: pointer;
  font-size: 25px;
  line-height: 25px;
  color: inherit;
  font-weight: 900;
  position: absolute;
}

.nav #bar {
  display: none;
}
.nav #check-label {
  display: none;
}
.nav .bar-media label {
  margin-left: auto;
  cursor: pointer;
}
.nav label .fa-bars {
  font-size: 25px;
}
/*main seaction style*/
.header {
  background-color: var(--color-light-gray);
  height: 100vh;
  overflow: hidden;
}
.header .container {
  margin: 95px auto 0;
  flex-direction: row-reverse;
}
.header .header-details {
  padding: 20px;
  width: 37%;
}
.header .header-image {
  width: 40%;
}
.header .header-details h2 {
  font-size: 65px;
  font-weight: 700;
  color: var(--color-secondary);
  font-family: var(--font-primary);
}
.header .header-details p {
  line-height: 26px;
  color: #4f4f5a;
  margin: 20px 0;
}
.btn-header {
  display: flex;
  align-items: center;
  gap: 35px;
  font-size: 17px;
}

.btn-header .btn-book {
  background-color: var(--color-primary);
  padding: 10px 20px;
  color: var(--color-light);
  border-radius: 0 100vh 100vh;
}
.btn-header .btn-video {
  display: flex;
  align-items: center;
}

.btn-video .icon-watch {
  width: 60px;
  height: 60px;
  background-image: linear-gradient(
    to right,
    var(--color-primary) 50%,
    transparent 50%
  );
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--defult-color);
  position: relative;
}
.btn-video .icon-watch::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: var(--color-light);
  border-radius: 50%;
}
.btn-video .icon-watch i {
  position: absolute;
}
.header-image img {
  border: 1px solid var(--defult-color);
  box-shadow: 4px 4px 9px #000a;
  border-radius: 50%;
}
.header-image img:hover {
  animation: shake 1s infinite;
}

/*chefs section*/
.chef-section {
  background-color: var(--color-light);
  color: var(--color-tertiary);
}
.title {
  margin: auto;
  text-align: center;
  padding: 50px 5px 10px;
}
.title h2 {
  text-transform: uppercase;
  font-family: var(--font-secondary);
  font-size: 14px;
  font-weight: 400;
  color: var(--color-tertiary);
}
.title p {
  font-family: var(--font-primary);
  font-size: 50px;
  color: var(--defult-color);
  text-transform: capitalize;
}
.title p .pro {
  color: var(--color-primary);
}
.chef-section .container {
  gap: 10px;
  text-align: center;
  padding: 30px 20px;
  flex-wrap: wrap;
}
.chef-section .container .chef-card {
  width: calc(calc(100% - 20px) / 3);
  text-transform: capitalize;
  background-color: var(--color-light);
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  transition: all ease 0.5s;
  overflow: hidden;
}
.chef-card:hover {
  transform: scale(1.05);
}

.chef-image img {
  width: 100%;
  border-radius: 10px;
}
.chef-image {
  position: relative;
}
.image-overlay {
  z-index: 100;
  color: #918f8f;
  background-color: #eeeeeeba;
  position: absolute;
  top: 5%;
  width: 13%;
  left: 100%;
  height: 43%;
  text-align: center;
  transition: all 0.3s 0.4s;
  border-radius: 5px;
  opacity: 1;
}
.image-overlay ul {
  position: absolute;
  top: 0%;
  right: 20%;
}
.image-overlay li {
  padding: 10px;
}
.image-overlay li .overlay-icon {
  font-size: 17px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.image-overlay li .overlay-icon:hover {
  color: var(--color-secondary);
}
.chef-card:hover .image-overlay {
  left: 84%;
}

svg {
  position: absolute;
  left: 0;
  top: 78%;
}
svg path {
  fill: var(--color-light);
}
.chef-card .card-contant {
  padding: 10px 25px;
}
.chef-card h3 {
  padding: 10px;
  font-size: 19px;
  font-weight: 700;
  color: var(--defult-color);
  font-family: var(--font-secondary);
}
.chef-card span {
  font-size: 14px;
}
.chef-card p {
  font-style: italic;
  font-size: 15px;
  color: inherit;
  margin: 10px auto 20px;
  padding-top: 8px;
}

/*gallery section*/
.gallery-section {
  background-color: var(--color-light-gray);
  height: auto;
}
.gallery-section .container {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.gallery-image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.gallery-image .img-contant {
  position: relative;
  border: #fff solid 4px;
  width: calc(calc(100% - 10px));
  overflow: hidden;
}
.gallery-image .image {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(calc(100% - 10px) / 3);
}
.gallery-image .image img {
  width: 100%;
  transition: all 0.3s ease;
}
.gallery-image .image .img-contant:hover img {
  transform: scale(1.1);
}
.gallery-image .image .gallery-overlay {
  position: absolute;
  background-color: #00000080;
  color: #fff;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
  opacity: 0;
}

.gallery-image .image .img-contant:hover .gallery-overlay {
  opacity: 1;
  top: 0;
}
.gallery-image .image .gallery-overlay h3 {
  padding-bottom: 10px;
}

/*contact-section*/

.contact-section {
  background-color: var(--color-light);
  margin: auto;
  padding: 40px 20px;
  margin: 50px auto;
}
.contact-section .map {
  width: 100%;
}
.map iframe {
  width: 100%;
}
.contact-section .contact-parent {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}
.contact-section .contact-parent .contact-info {
  width: calc(calc(100% - 15px) / 2);
  padding: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-gary);
}
.contact-info .info-icon {
  width: 50px;
  height: 50px;
  font-size: 18px;
  background-color: var(--color-primary);
  border-radius: 50%;
  color: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}
.contact-info .info-header h3 {
  font-size: 20px;
  font-style: var(--font-secondary);
  color: #7d7d7d;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0 0 5px 0;
}
.contact-info .info-header p {
  color: var(--defult-color);
}
.contact-info .info-header .bold {
  font-weight: bold;
}
.contact-section form {
  width: 90%;
  box-shadow: 0px 0px 14px 0px #0000001b;
  background-color: var(--color-light);
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.user-info {
  display: flex;
  gap: 10px;
}
.user-info input {
  width: calc(calc(100% - 10px) / 2);
}
form input,
form textarea {
  border: 2px solid var(--color-light-gray);
  padding: 15px 10px;
  transition: all 0.3s;
  margin-bottom: 12px;
}
form textarea {
  width: 100%;
  height: 20vh;
}
form input:focus,
form textarea:focus {
  outline: none;
  border: var(--color-primary) 2px solid;
}
form .btn-send {
  background-color: var(--color-primary);
  width: fit-content;
  margin: 25px auto 0;
  color: var(--color-light);
  padding: 12px 40px;
  border: none;
  font-size: 16px;
  border-radius: 35px;
  transition: all 0.3s;
}
form .btn-send:hover {
  background-color: var(--color-hover);
}

/* footer seaction */
.footer-section {
  background-image: linear-gradient(#0006, #0006), url(../images/download.jpg);
  color: #fff;
  box-shadow: 0px 0px 14px 0px #0000001b;
  background-size: contain;
}
.footer-section .container {
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: flex-start;
}
.footer-section .container .footer-info {
  width: 25%;
  padding: 20px;
}
.footer-section .container .footer-info.subscribe {
  width: 50%;
}
.footer-image {
  display: flex;
  align-items: center;
}
.footer-image img {
  width: 10%;
  margin-right: 10px;
}
.footer-image h2 {
  font-size: 30px;
}
.footer-info p {
  margin: 10px auto;
}
.footer-info h3 {
  margin-bottom: 10px;
}
.footer-info .media {
  text-align: center;
  padding: 10px 0;
  border-bottom: #7d7d7d 2px solid;
}
.footer-info .social-icon {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
}
.footer-info .social-icon i {
  cursor: pointer;
}
.footer-info .sub {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  margin: 20px auto;
}

.footer-info input {
  padding: 10px;
  width: 80%;
}
.footer-info .subscribe {
  padding: 10px;
  border: none;
  background-color: var(--color-primary);
  color: inherit;
  font-size: 15px;
  transition: all 0.3s;
}
.footer-info .subscribe:hover {
  background-color: var(--color-hover);
}

.footer-info .quick-list {
  display: flex;
  flex-wrap: wrap;
}
.footer-info .quick-list li {
  width: 50%;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
.footer-info .quick-list li:hover {
  background-color: #222;
  padding-left: 12px;
}
.footer-info .get-in-touch li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
}
.footer-info .get-in-touch li i {
  font-size: 22px;
  color: var(--color-primary);
  cursor: pointer;
  margin-right: 5px;
}
/*animation keyframes*/
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(-1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(0deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(-1deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(0deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@media screen and (max-width: 991px) {
  .container {
    justify-content: center;
  }
  .header {
    height: auto;
  }
  .header .container {
    display: block;
  }
  .header .header-details {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
  .btn-header {
    justify-content: center;
  }
  .header .header-image {
    margin: 40px auto 0;
    width: 100%;
  }

  .chef-section .container .chef-card {
    width: calc(calc(100% - 10px) / 2);
  }
  .contact-section form {
    width: 100%;
  }
  .user-info {
    flex-direction: column;
  }
  .user-info input {
    width: 100%;
  }
  .footer-section .container .footer-info {
    width: 50%;
  }
  .footer-section .container .footer-info.subscribe {
    width: 100%;
    order: 2;
  }
}
@media screen and (max-width: 746px) {
  .nav {
    #check-label {
      display: block;
    }
    ul,
    .dark-icon {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      flex-direction: column;
      text-align: center;
      background-color: var(--color-light);
      padding: 10px 0 20px;
      transition: all 0.3s;
      max-height: 0;
      opacity: 0;
    }
    ul li {
      padding: 10px 0;
    }
    .dark-icon {
      top: 300%;
      left: -20px;
    }
    #bar:checked ~ ul,
    #bar:checked ~ .dark-icon {
      max-height: 600px;
      opacity: 1;
    }
  }
  .gallery-image {
    flex-direction: column;
    gap: 10px;
  }

  .gallery-image .image {
    width: 100%;
  }
  .contact-section .contact-parent .contact-info {
    width: 100%;
  }
}
@media screen and (max-width: 669px) {
  .container {
    margin: 40px;
  }
  .chef-section .container .chef-card {
    width: calc(calc(100% - 10px) / 1);
    margin: auto;
  }
  .footer-section .container .footer-info {
    width: 100%;
  }
  .footer-section .container .footer-info.subscribe {
    margin-bottom: 10px;
    order: 0;
  }
}
